@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <a asp-controller="Account" asp-action="Login" class="btn btn-success text-light float-right m-2">Login</a>
    <a asp-controller="Account" asp-action="Registration" class="btn btn-dark text-light float-right m-2">Sign Up</a>
</div>
