@{
    ViewData["Title"] = "Home Page";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="jumbotron jumbotron-fluid vertical-center" id="home">
    <div class="container">
        <h1 class="display-3">Schedule Master 2000</h1>
        <p class="lead">Schedule your life with ease!</p>
        <hr class="my-4">
        <form class="form-inline justify-content-center">
            <button type="button" class="btn btn-success my-2 my-sm-0">Get Started!</button>
        </form>
    </div>
</div>



